input.mybitches{
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    color: slateblue;
    height: 40px;
    font-size: 25px;
    border-bottom: 1px solid rgb(91, 98, 194);
    text-align: center;
    padding: 15px 0px;
}