@font-face{
    font-family: googleFont;
    src: url("../../assets/fonts/Anton/Anton-Regular.ttf");
}



header.headerbasic{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(74, 65, 200);
    align-items: center;
    justify-content: space-between;
   
    



}

.brandName{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: googleFont;
    padding: 0px 30px;
    cursor: pointer;
    text-decoration: none;
    
    

}

span.username{
    color: white;
    font-family: googlefont;
    font-size: 20px;
    font-weight: 100;
}


svg.svgheader{
    width: 100px;
    padding: 0px 30px;


}


h3.username{
    color: rgb(74, 65, 200);
    padding: 10px 30px;
    font-weight: 100;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

strong{
    color: white;
    text-decoration: underline;
}